@media screen and (min-width: 601px) {

.slide-container {
    width: 64%;
    height: 55%;
    margin: auto; 
    margin-bottom: 3vw;
  }
   
  h3 {
    text-align: center; }
   
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 28.4vw;
  }
   
  .each-slide span {
    padding: 1.96vw;
    font-size: 1.96vw;
    background: #efefef;
    text-align: center;
  }
   
  .each-fade {
    display: flex;
  }
   
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
   
  .each-fade .image-container img {
    width: 100%;
  }
   
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }
}
@media screen and (max-width: 600px) {
    .slide-container {
      width: 90%;
      height: 50%;
      margin-left: auto; 
      margin-right:auto ;}
     
    h3 {
      text-align: center; }
     
    .each-slide > div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      height: 42.4vw;
    }
     
    .each-slide span {
      padding: 4.7vw;
      font-size: 4.7vw;
      background: #efefef;
      text-align: center;
    }
     
    .each-fade {
      display: flex;
    }
     
    .each-fade .image-container {
      width: 75%;
      overflow: hidden;
    }
     
    .each-fade .image-container img {
      width: 100%;
    }
     
    .each-fade h2 {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      background: #2fce07;
    }
 }