.react-slideshow-container:hover .nav {
  opacity: 1;
}
.images-wrap div div{
  display:flex;
  justify-content:center;
  overflow:hidden;
}
.indicators {
  margin-top: 0px !important;
  transform: translateY(-100%);
}
.indicators .active {
  background-color: var(--dark-brown) !important;
}
.react-slideshow-container .nav {
    height: 50px !important;
    opacity: 0;
    transition:opacity 0.3s ease-out;
}
.react-slideshow-container .nav:first-child {
  border-radius:0px 5px 5px  0px !important;
}
.react-slideshow-container .nav:last-child {
  border-radius:5px 0px 0px  5px !important;
}
.react-slideshow-container img {
  height: 250px;
}
@media only screen and (min-width: 576px) {
  .react-slideshow-container img {
    height: 350px;
  }
}