*{
    margin: 0px;
    padding: 0px;
}
@media screen and (min-width: 601px){
.navigator{
    border-bottom: 1px solid;
    margin-bottom: 1vw;
    background-color: #f8ecec;
    height: 8.5vw;
    }
    
    .logo{
        width: 20vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        float: left;
        margin-top: 0.5vw;
    }
    
    .logo img{
        max-width:15vw;
        max-height:7.5vw;
        width: auto;
        height: auto;
    }
    
    
    .busca{
       
        max-width: 60vw;
        max-height: 9vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        float: left;
        margin-top: 2.75vw;
        
    }
    .busca input{
        width: 30vw;
        height: 3vw;
        border: 0.1px black solid;
        background-color: whitesmoke;
    }
    .busca button{
        height: 3vw;
        background-color: whitesmoke;
    }
    .figuras{
        max-width: 4vw;
        max-height: 4vw;
        width: auto;
        height: auto;
        margin-left: 0vw;
        margin-right: 1vw;
        
    }
    .comboFig{
        float: left;
        width: 18vw;
        height: 8.5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
}
@media screen and (max-width: 600px){
    .navigator{
        border-bottom: 1px solid;
        margin-bottom: 2vw;
        background-color: #f8ecec;
        height: 20vw;
        }
        
        .logo{
            width: 30vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            float: left;
            margin-top: 2vw;
        }
        
        .logo img{
            max-width:19vw;
            max-height:16vw;
            width: auto;
            height: auto;
        }
        
        
        .busca{
           
            max-width: 70vw;
            max-height: 18vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            float: left;
            margin-top: 5.5vw;
            font-size: 3.5vw;
        }
        
        .busca input{
            width: 40vw;
            height: 9vw;
            border: 0.1px black solid;
            background-color: whitesmoke;
        }
        .busca button{
            height: 9vw;
            font-size: 3.5vw;
            background-color: whitesmoke;
        }
        .figuras{
            max-width: 0vw;
            max-height: 0vw;
            width: auto;
            height: auto;
            margin-left: 0vw;
            margin-right: 0vw;
            
        }
        .comboFig{
            float: left;
            width: 0vw;
            height: 0vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
        }
    }

