*{
    margin: 0px;
    padding: 0px;
    
}
@media screen and (min-width: 601px){
.headerpadrao{
    
    margin-bottom: 0vw;
    
    height: 8.5vw;
    }
    .pc{
        font-size: 0px;
    }
    .menucateg{
        width: 80vw;
        height: 4vw;
        
        font-size: 2vw;
        margin-bottom: 2vw;
        margin-left: 10vw;
        border-bottom: 1px solid;
        border-top: 1px solid;
        
    }
    .menucateg nav{ 
        padding-left: 0px;
    }
    .botaomenu{
        
        opacity: 0.8;
        transition: 0.5s;
    }
    .botaomenu:hover{
        opacity: 1;
        background-color: pink;
        box-shadow: 1vw 1vw 1vw grey;
    }
    .centro{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        float: left;
    }
    .logo{
        width: 20vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        float: left;
        margin-top: 0.5vw;
    }
    
    .logo img{
        max-width:15vw;
        max-height:7.5vw;
        width: auto;
        height: auto;
    }
    
    
    .busca{
       
        max-width: 60vw;
        max-height: 9vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        float: left;
        margin-top: 2.75vw;
        
    }
    .busca input{
        width: 30vw;
        height: 3vw;
        border: 0.1px black solid;
        background-color: whitesmoke;
        padding-left: 1vw;
    }
    .busca button{
        height: 3vw;
        background-color: whitesmoke;
    }
    .figuras{
        max-width: 4vw;
        max-height: 4vw;
        width: auto;
        height: auto;
        margin-left: 0vw;
        margin-right: 1vw;
        
    }
    .comboFig{
        float: left;
        width: 18vw;
        height: 8.5vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    .comboFig ul li{
        display: inline;
    }
    .comboFig ul li Link{
        display: inline-block;
    }
}
@media screen and (max-width: 600px){
    .headerpadrao{
        border-bottom: 1px solid;
        margin-bottom: 2vw;
        background-color: #f8ecec;
        height: 20vw;
        }
        .celular{
            position: absolute;
            
        }
        .logo{
            width: 30vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            float: left;
            margin-top: 2vw;
        }
        
        .logo img{
            max-width:19vw;
            max-height:16vw;
            width: auto;
            height: auto;
        }
        
        
        .busca{
           
            max-width: 70vw;
            max-height: 18vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            float: left;
            margin-top: 5.5vw;
            font-size: 3.5vw;
        }
        
        .busca input{
            width: 40vw;
            height: 9vw;
            border: 0.1px black solid;
            background-color: whitesmoke;
            padding-left: 1vw;
        }
        .busca button{
            height: 9vw;
            font-size: 3.5vw;
            background-color: whitesmoke;
        }
        .figuras{
            max-width: 0vw;
            max-height: 0vw;
            width: auto;
            height: auto;
            margin-left: 0vw;
            margin-right: 0vw;
            
        }
        .comboFig{
            float: left;
            width: 0vw;
            height: 0vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
        }
    }

