@media screen and (min-width: 601px) {
.Contato{
    background-color: #f5f5dc ;
    width: auto;
    height: auto;
    
    
}
.direita{
    float: right;
}
.esquerda{
    float: left;
}
.instagram{
    height: 5%;
    width: 3%;
    padding: 0.3%;

}
.tam{
    width: auto;
    height: auto;   
}

}
.telefone{
    height: 5%;
    width: 3%;
    padding: 0.3%;
    margin: auto;
}
@media screen and (max-width: 600px){
    .instagram{
        height: 10%;
        width: 8%;
        padding: 0.3%;
        
    }
    .Contato{
        background-color: #f5f5dc ;
        width: auto;
        height: auto;
        margin-bottom: 1%;
        
        
    }
}