*{
    margin: 0;
}
@media screen and (min-width: 601px) {
.header{
    background-color: rgb(131, 7, 7) ;
    width: 100vw;
    height: 3vw;
    margin: 0;
}
.tam{
    margin-left: 30vw;
    margin-right: 30vw;
}

.socialm{
    height: 3vw;
    width: 25vw;
    float: left;
    
}
.socialm ul{
    margin: 0;
    padding-left: 0;
}
.socialm ul li{
    display:inline;
}
.socialm ul li a{
    padding: 0px 3px;
    display: inline-block;
    font-size: 2vw;
}




.tel{
    height: 100%;
    width: 15vw;
    float: right;
}
.iconetel{
    width: 3vw;
    float: left;
}

.tels{
    padding-left: 0px;
    margin-left: 0px;
    width: 12vw;
    float: right;
    height: 3vw;
    font-size: 1vw;
}
.tels ul{
    padding-left: 0.3vw;
    list-style-type: none;
}

.icone{
    margin-top: 0.1vw;
    margin-bottom: 0.1vw;
    align-self: center;
    max-width: 2.8vw;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
}
.icones:hover{
    box-shadow: 0vw 0vw 1vw  grey;
}
}
@media screen and (max-width: 600px){
    .header{
        background-color: rgb(131, 7, 7) ;
        width: 100vw;
        height: 9vw;
        margin: 0;
    }
    .tam{
        margin-left: 15vw;
        margin-right: 15vw;
    }
    
    .socialm{
        height: 9vw;
        width: 35vw;
        float: left;
        
    }
    .socialm ul{
        margin: 0;
        padding-left: 0;
    }
    .socialm ul li{
        display:inline;
    }
    .socialm ul li a{
        padding: 0px 3px;
        display: inline-block;
        font-size: 5vw;
        text-align: center;
    }
    
    .tel{
        height: 100%;
        width: 35vw;
        float: right;
    }
    .iconetel{
        width: 9vw;
        float: left;
    }
    
    .tels{
        padding-left: 0px;
        margin-left: 0px;
        width: 22vw;
        float: right;
        height: 3vw;
        font-size: 2.8vw;
    }
    .tels ul{
        padding-left: 0.3vw;
        list-style-type: none;
    }
    
    .icone{
        margin-top: 0.3vw;
        margin-bottom: 0.3vw;
        align-self: center;
        max-width: 8.6vw;
        padding-left: 0.2vw;
        padding-right: 0.2vw;
    }
    .icones:hover{
        box-shadow: 0vw 0vw 1vw  grey;
    }
}
.cor{
    color: black;
}