
@media screen and (min-width: 601px) {
    .tamanho{
        height: 32vw;
        width:20vw;
        margin-left: 0.8vw;
        margin-top: 1.6vw;
        float: left;
        box-shadow: 0.5vw 0.5vw 1vw grey;
       /* padding: 0.8% ;
        border-color: grey;
        border-radius: 10px;
        border-width: 10px;
        box-shadow: 0vw 0.5vw 1vw -0.2vw grey;
        align-items: center;*/
    }
    .tamanho p{
        font-size: 1.6vw;
    }
    .foto{
        align-self: center;
        max-width:12,8vw;
        max-height:12vw;
        width: auto;
        height: auto;
        margin-bottom: 0,8vw;
    }
    .desc{
        border-top: 3px solid;
        border-color: black;
    }
    .titulocard{
        align-self: center;
        height: 3vw;
        margin-top: 0.8vw;
        margin-bottom: 0.8vh;
        border-bottom:1px solid;
        text-align: center;
        width: auto;
      /*  box-shadow: 0vw -1vh 1vw -0.2vw grey;*/
    }
    .titulocard h4{
        font-size: 2.2vw;
    }
    .container {
            width: 100%;
            margin:15%;
            margin-top: 2%;
    }
    .tamanho dd{
        margin: 0;
        font-size: 1.2vw;
    }
    .tamanho h3{
        text-align: center;
        margin: 0;
        font-size: 2vw;
    }
    .botao{
        width: auto;
        background-color: grey;
        align-items: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .botao a{
        align-self: center;
        background-color: brown;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 1;
    }
    .botao a:hover{
        background-color: green;
    }
}


/*    CELULAR     */


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .tamanho{
      height: 40vw;
      width: 25vw;
      margin-left: 2vw;
     margin-top: 2vw;
        float: left;
  }
  .body{
      padding: 0;
  }
  .foto{
    align-self: center;
    max-width:18vw;
    max-height:15vw;
    width: auto;
    height: auto;
    }
    .titulocard{
        height: 3.5vw;
        margin-bottom: 1vw;
        border-bottom:1px solid;
        text-align: center;
        width: auto;
      /*  box-shadow: 0vw -1vh 1vw -0.2vw grey;*/
    }
    .tamanho h4{
        font-size: 2.6vw;
    }
    .tamanho dd{
        margin: 0;
        font-size: 1.5vw;
    }
    .tamanho h3{
        text-align: center;
        margin: 0;
        font-size: 2vw;
    }
}