*{
    margin: 0vw;
    font-family:helvetica,arial,;
}
@media screen and (min-width: 601px) {
    
    
    .tamanho{
        height: 30vw;
        width: 18vw;
        margin-left: 0.8vw;
        margin-top: 1.6vw;
        float: left;
        box-shadow: 0.5vw 0.5vw 1vw grey;
       /* padding: 0.8% ;
        border-color: grey;
        border-radius: 10px;
        border-width: 10px;
        box-shadow: 0vw 0.5vw 1vw -0.2vw grey;
        align-items: center;*/
    }
    .tamanho p{
        font-size: 1.6vw;
    }
    .foto{
        align-self: center;
        max-width:15vw;
        max-height:15vw;
        width: auto;
        height: auto;
       
    }
    
    .titulocard{
        height: 4vw;
        text-align: left;
        margin-top: 0.8vw;
        border-bottom:1px solid;
        text-align: center;
        width: auto;
      /*  box-shadow: 0vw -1vh 1vw -0.2vw grey;*/
    }
    .titulocard h4{
        font-size: 0.8vw;
    }
    .container {
            width: 100%;
    }
    .tamanho dd{
        margin: 0;
        font-size: 1vw;
    }
    .tamanho h3{
        text-align: center;
        margin-top: 2vw;
        font-size: 1.5vw;
        font-weight: bolder;
    }
    .botao{
        text-align: center;
        text-decoration: none;
        margin-top: 2vw;
    }
    .botao a p{
        align-self: center;
        background-color: lightseagreen;
        padding-left: 7,5vw;
        padding-right: 7,5vw;
        font-size: 1;
        color: black;
        text-decoration: none;
    }
    .botao a p:hover{
        background-color: green;
        text-decoration: none;
    }
}


/*    CELULAR     */


/* If the screen size is 600px wide or less. set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    
    .tamanho{
        height: 86.75vw;
        width: 44vw;
        margin-left: 1.9vw;
        margin-top: 3.8vw;
        float: left;
        box-shadow: 0.5vw 0.5vw 1vw grey;
       /* padding: 0.8% ;
        border-color: grey;
        border-radius: 10px;
        border-width: 10px;
        box-shadow: 0vw 0.5vw 1vw -0.2vw grey;
        align-items: center;*/
    }
    .tamanho p{
        font-size: 3.8vw;
    }
    .foto{
        align-self: center;
        max-width:42.4vw;
        max-height:42.4vw;
        width: auto;
        height: auto;
        
    }
    
    .titulocard{
        height: 10vw;
        text-align: left;
        margin-top: 1.8vw;
        border-bottom:1px solid;
        text-align: center;
        width: auto;
      /*  box-shadow: 0vw -1vh 1vw -0.2vw grey;*/
    }
    .titulocard h4{
        font-size: 2vw;
    }
    .container {
            width: 100%;
    }
    
    .tamanho h3{
        text-align: center;
        margin-top: 5vw;
        font-size: 3.7vw;
    }
    .botao{
        text-align: center;
        margin-top: 5vw;
        
    }
    .botao a p{
        margin-top: 4vw;
        align-self: center;
        background-color: lightseagreen;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 7,5vw;
        padding-right: 7,5vw;
        color: black;
        text-decoration: none;
    }
    .botao a p:hover{
        background-color: green;
    }
}
