.tamanho{
    height: 13%;
    width: 13%;
    margin-left: 2%;
    margin-top: 1%;
    padding: 0.8% ;
    border-color: grey;
    border-radius: 10px;
    border-width: 10px;
    float: left;
    box-shadow: 0.5vw 0.5vw 1vw grey;
    align-items: center;
}
.foto{
    width: 50%;
    height: 30%;
    position: relative;
    left: 25%;
}
.desc{
    border-top: 3px solid;
    border-color: black;
}

.container {
        width: 100%;
        margin:15%;
        margin-top: 2%;
       }