#header-top {
    display: none;
}
#header-top .nav-link {
    color: darkgray;
}
#header-top .nav-link:hover {
    color: var(--middle-brown);
}

#header-top .social-icons .nav-link {
    color: var(--middle-brown);
    transition: all 0.3s ease-out;
}
#header-top .social-icons .nav-link:hover {
    background-color: var(--dark-brown);
    color:white;
}